<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Documentos</title>
    <link rel="stylesheet" href="../css/style.css">
	  <link rel="stylesheet" href="../lib/boots/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container-fluyed fondo3">
      <div class="letra2 centrado">Mis proyectos</div>
      <br><br>
      <div class="row">
        <div class="col-md-4 letra3 centrado"><a href="gymtemplate/index.html">Gym Templates</a></div>
        <div class="col-md-4 letra3 centrado"><a href="ClimaMaster/index.html">Climaster</a></div>
        <div class="col-md-4 letra3 centrado"><a href="pokedex/index.html">Pokedex</a></div>
      </div>
      <br><br><br><br>
      <div class="row">
        <div class="col-md-4 letra3 centrado"></div>
        <div class="col-md-4 letra3 centrado"><a href="ventas de computadoras/index.html">Ventas de Computadoras</div>
        <div class="col-md-4 letra3 centrado"></div>
      </div>
      <br><br><br><br>
      <div class="row">
        <div class="col-md-4 letra3 centrado"></div>
        <div class="col-md-4 letra3 centrado"></div>
        <div class="col-md-4 letra3 centrado"></div>
      </div>
    </div>
</html>
